/*
 * Custom CSS
 */

:root {
    --bs-body-bg: var(--bs-gray-100);
}

#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

html {
    scroll-behavior: smooth;
}

body {
    /* background-color: #e8f5e9; */
    background-color: #ffffff;
    /* opacity: 0.4; */
    background: radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent) 17.5px 17.5px, linear-gradient(#f4ffec 1.4000000000000001px, transparent 1.4000000000000001px) 0 -0.7000000000000001px, linear-gradient(90deg, #f4ffec 1.4000000000000001px, #ffffff 1.4000000000000001px) -0.7000000000000001px 0;
    background-size: 35px 35px, 35px 35px, 17.5px 17.5px, 17.5px 17.5px;
    /* Very light green background for a soothing effect */
    color: #333;
    /* Dark text for contrast */
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-style: normal;
}

.navbar,
footer {
    background-color: #e0fae2;
    /* Light green background for navbar and footer */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.animated-element {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.icon {
    text-decoration: none;
}