/*
 * Custom CSS
 */

:root {
    --bs-body-bg: var(--bs-gray-100);
}

#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 50;
    opacity: 0.7;
}

html {
    scroll-behavior: smooth;
}

body {
    /* background-color: #e8f5e9; */
    background-color: #ffffff;
    /* opacity: 0.4; */
    background: radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent) 17.5px 17.5px, linear-gradient(#f4ffec 1.4000000000000001px, transparent 1.4000000000000001px) 0 -0.7000000000000001px, linear-gradient(90deg, #f4ffec 1.4000000000000001px, #ffffff 1.4000000000000001px) -0.7000000000000001px 0;
    background-size: 35px 35px, 35px 35px, 17.5px 17.5px, 17.5px 17.5px;
    /* Very light green background for a soothing effect */
    color: #333;
    /* Dark text for contrast */
    font-family: 'Inter var', 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: 0.5px;
}

.navbar,
footer,
#mapid {
    background-color: #e0fae2;
    /* Light green background for navbar and footer */
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.animated-element {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.icon {
    text-decoration: none;
}

.navbar-toggler {
    border: none;
    background: transparent;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    display: block;
    width: 30px;
    height: 30px;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M7.414 8.414l15.172 15.172M22.586 8.414L7.414 23.586'/%3E%3C/svg%3E");
}

.icon:hover i {
    transform: scale(1.1);
}

.copyright {
    background-color: rgba(0, 0, 0, 0.2);
}

/* Whatsapp Button */
.whatsapp_float {
    position: fixed;
    width: 60px;
    /* Increased size for better visibility */
    height: 60px;
    /* Increased size for better visibility */
    bottom: 20px;
    /* Positioned higher from the bottom */
    left: 20px;
    /* Positioned on the left */
    background-color: #128C7E;
    /* Different shade of WhatsApp green */
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    /* Increased icon size for better visibility */
    box-shadow: 2px 2px 3px #666;
    /* Modified shadow for more depth */
    z-index: 100;
    opacity: 0.9;
    /* Less transparency for better visibility */
    transition: transform 0.3s;
    /* Smooth transition for hover effect */
}

.whatsapp-icon {
    transform: scale(1);
    /* Default state without scaling */
    display: inline-block;
    line-height: 60px;
    /* Align vertically center */
}

.whatsapp_float:hover .whatsapp-icon {
    transform: scale(1.1);
    /* Slightly larger on hover */
}